$root: l-case;

.#{$root} {
  display: flex;
  flex-wrap: wrap;
  margin: 14px;
  padding: 14px;
  @include decorator-1;

  @include respond-to(sm) {
    width: 910px;
  }
  
  @include element(info) {
    flex-grow: 1;
    @include respond-to(xs) {
      flex-basis: 30%;
    }
  }
  
  @include element(payments) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 12px;
    padding-left: 32px;
    flex-basis: 100%;
    
    @include respond-to(xs) {
      flex-basis: 12%;
    }

    @include respond-to(md) {
      flex-basis: 16%;
    }
  }

  @include element(payments-box) {
    margin: 0 0 26px 0;
  }

  @include element(actions) {
    flex-grow: 1;
    @include respond-to(xs) {
      display: flex;
      flex-wrap: wrap;
    }
    
    @include respond-to(sm) {
      flex-basis: 32%;
      max-width: 326px;
    }

    @include respond-to(md) {
      flex-direction: column;
    }
  }

  @include element(action-btn) {
    margin-bottom: 10px;
    height: 70px;
  
    @include respond-to(xs) {
      margin: 4px;
      width: 48%;
    }
  
    @include respond-to(sm) {
      width: 100%;
    }
  
    @include respond-to(md) {
      margin: 0 0 18px 0;
    }
  }
}