$root: l-debtor;

.#{$root} {
  display: flex;
  flex-wrap: wrap;
  margin: 14px;
  padding: 14px;
  @include decorator-1;

  @include respond-to(sm) {
    width: 910px;
  }

  @include respond-to(md) {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 26px;
    max-width: 320px;
  }

  @include element(table) {
    display: flex;
    flex-wrap: wrap;
  }

  @include element(table-row) {
    width: 100%;

    @include respond-to(xs) {
      width: calc(95% /2);
      &:nth-child(2n+1) {
        padding-right: 10px;
      }
    }

    @include respond-to(sm) {
      width: calc(95% / 2);
    }

    @include respond-to(md) {
      width: 100%
    }
  }

  @include element(summary) {
    display: flex;
    width: 100%;

    @include respond-to(xs) {
      justify-content: flex-end;
    }

    @include respond-to(sm) {
      flex-basis: 100%;
      justify-content: flex-end;
    }

    @include respond-to(md) {
      flex-basis: auto;
      width: auto;
    }
  }

  @include element(summary-box) {
    display: flex;
    width: 100%;

    @include respond-to(xs) {
      width: 224px;
    }

    @include respond-to(md) {
      width: 100%;
    }
  }
}