/// Breakpoints/tweakpoints manager
/// @param {String} $point - Breakpoint/tweakpoint name
@mixin respond-to($point) {
  @if map-has-key($tweakpoints, $point) {
    @media (min-width: map-get($tweakpoints, $point)) {
      @content;
    }
  } @else if map-has-key($breakpoints, $point) {
    @media (min-width: map-get($breakpoints, $point)) {
      @content;
    }
  } @else {
    @warn "Could not find `#{$breakpoint}` in both local ($tweakpoints) and global ($breakpoints) contexts. Media block omitted.";
  }
}

// getting BEMy
@mixin element($name, $root: false) {
  @if $root {
    @at-root #{&} .#{$root}__#{$name} {
      @content;
    }
  } @else {
    @at-root #{&}__#{$name} {
      @content;
    }
  }
}
  
@mixin modifier($name) {
  @at-root #{&}--#{$name} {
    @content;
  }
}

// component wrapper
@mixin component($component-tweakpoints: ()) {
  $tweakpoints: $component-tweakpoints !global;
  @content;
  $tweakpoints: () !global;
}

// keyframes
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

// context specify
@mixin create-context($classes...) {
  @each $class in $classes {
    .#{$class} & {
      @content;
    }
  }
}

@mixin context--alternate-template {
  @include create-context(about, blog) {
    @content
  }
}

@mixin decorator-1() {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0px 0px 16px #eaeaea;
  background: #fff;
}