$root: c-box;

.#{$root} {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0 0 32px;
  padding: 6px 16px;
  height: 52px;
  border-radius: 5px;
  box-shadow: 0px 4px 5px #efefef;
  @include modifier(1) {
    @include element(icon, $root) {
      color: nth($font-colors, 3);
    }  
    @include element(amount-value, $root) {
      color: nth($font-colors, 3);
    }
  }
  @include modifier(2) {
    @include element(icon, $root) {
      color: nth($font-colors, 2);
    }  
    @include element(amount-value, $root) {
      color: nth($font-colors, 2);
    }
  }
  @include modifier(3) {
    @include element(icon, $root) {
      color: nth($font-colors, 4);
    }  
    @include element(amount-value, $root) {
      color: nth($font-colors, 4);
    }
  }
  @include modifier(4) {
    @include element(icon, $root) {
      color: #395667;
    }
    @include element(amount-value, $root) {
      color: #395667;
    }
  }
  @include modifier(5) {
    @include element(icon, $root) {
      color: nth($font-colors, 1);
    }
    @include element(amount-value, $root) {
      color: nth($font-colors, 3);
    }
  }
  @include element(icon) {
    position: absolute;
    top: 10px;
    left: -34px;
    font-size: 34px;
    font-weight: 500;
  }
  @include element(amount) {
    font-size: 24px;
    font-weight: 500;
  }
  @include element(currency) {
    margin: 0 0 0 10px;
    color: #9b9ea0;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }
  @include element(desc) {
    color: #888b8d;
    font-size: 14px;
    font-weight: 500;
  }
}