$root: c-btn;

@mixin btn-set-1($border-bg: #cacbcd) {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid $border-bg;
  box-shadow: 0px 1px 5px #efefef;
  outline: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.#{$root} {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  
  @include modifier(1) {
    color: nth($font-colors, 3);
    background: #f4f4f4;
    @include btn-set-1(#929597);
    &:hover {
      background: darken(#f4f4f4, 5%);
    }
  }
  @include modifier(active) {
    color: #fff;
    background: nth($font-colors, 2);
    @include btn-set-1;
    &:hover {
      background: darken(nth($font-colors, 2), 5%);
    }
  }
  @include modifier(xl) {
    padding: 0 10px;
  }
}