$root: c-table;

.#{$root} {
  color: nth($font-colors, 1);
  @include modifier(col-2) {
    @include element(row, $root) {
    display: flex;
    }
  }
  @include element(row) {
    padding: 0 0 16px 0;
  }
  @include element(cell) {
    line-height: 1.3;
    &:nth-of-type(1) {
      flex-basis: 40%;
    }
    &:nth-of-type(2) {
      flex-basis: 60%;
    }
  }
}