

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,latin-ext);

body {
  font-family: 'Roboto', sans-serif;
}

@each $font-weight in $font-weights {
  .font--#{$font-weight} {
    font-weight: #{$font-weight}
  }
}

@each $font-color in $font-colors {
  $i: index($font-colors, $font-color);
  .font--color-#{$i} {
    color: #{$font-color}
  }
}